[submodule "camerademo/csc"]
	path = camerademo/csc
	url = https://github.com/KenthJohan/csc
[submodule "shape/csc"]
	path = shape/csc
	url = https://github.com/KenthJohan/csc
[submodule "shape/nng"]
	path = shape/nng
	url = https://github.com/nanomsg/nng
[submodule "texture/csc"]
	path = texture/csc
	url = https://github.com/KenthJohan/csc
[submodule "demo1/csc"]
	path = demo1/csc
	url = https://github.com/KenthJohan/csc
